


.colorGame{
    position: relative;
    border-radius: .5em;
    height: 900px;
    width: 900px;
    text-align: center;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
 

}

.colorGame__subtitle{

    margin: 5% 0;
}

.colorGame__target{

    margin: 2% 0;

}

.colorGame__colorsContainer{

    position: absolute;
    display: flex;
    flex-wrap: wrap;


}

.colorGame__target{

    text-shadow: 0 0 15px;

}

.stats{
 
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.timer{
    
    
    display: flex;
    flex-direction: row;

   
}

.timer > div{

    margin: 0 2em;

}

.timerActive{

    
    animation: animate  1s infinite linear;


}

@keyframes animate{

    0%{
        color: #f00;
        transform: scale(1);
        text-shadow: 0 0 10px #f00;

    }

    50%{
        color: #f00;
        transform: scale(1.1);
        text-shadow: 0 0 10px #f00,
        0 0 10px #f00;


    }

    100%{

        color: #f00;
        transform: scale(1);
        text-shadow: 0 0 10px #f00;

    }
}

.timer__miliseconds{
    

    font-size: .5em;
    align-self: flex-end;
}

.score{

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;

}

.timer__moreTime{
    color: rgb(20, 180, 20);
    animation: animateScore .5s infinite;
    position: absolute;

}

@keyframes animateScore{

    to{

        transform: translateY(-30px);
        opacity: 0;

    }

}
.colorGame__colorsContainer{

    display: flex;
    justify-content: center;
    margin: 1em;


}


@media screen and (max-width:700px){


    .colorGame{
        height: 600px;
        width: 360px;
        font-size: .7em;
     
    
    }





}





