@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    color: #fff;
    font-size: 18px;
    min-height: 100vh;
    font-family: Lexend ;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #202020;
    background-image: radial-gradient(#333333 5px, transparent 5px);
    background-size: 50px 50px;



}


.main{

  text-align: center;
  margin: auto;


}

.title{

  margin: 1em 0;

}

.btnStart{

  margin: 2em;
  padding: 1em;
  background: none;
  border: none;
  background: #292929;
  color: #fff;
  border-radius: .5em;
  width: 200px;
  line-height: 1em;
  font-size: 1em;

  transition: all .3s ease-in-out;
  cursor: pointer;

}

.btnStart:hover{

  background: #111;


}


